/****************
TYPOGRAPHY
****************/

@font-face {
    font-family: 'gt_walsheimthin';
    src: url('/fonts/gt-walsheim-thin-webfont.eot');
    src: url('/fonts/gt-walsheim-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gt-walsheim-thin-webfont.woff2') format('woff2'),
         url('/fonts/gt-walsheim-thin-webfont.woff') format('woff'),
         url('/fonts/gt-walsheim-thin-webfont.ttf') format('truetype'),
         url('/fonts/gt-walsheim-thin-webfont.svg#gt_walsheimthin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gt_walsheimthin_oblique';
    src: url('/fonts/gt-walsheim-thin-oblique-webfont.eot');
    src: url('/fonts/gt-walsheim-thin-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gt-walsheim-thin-oblique-webfont.woff2') format('woff2'),
         url('/fonts/gt-walsheim-thin-oblique-webfont.woff') format('woff'),
         url('/fonts/gt-walsheim-thin-oblique-webfont.ttf') format('truetype'),
         url('/fonts/gt-walsheim-thin-oblique-webfont.svg#gt_walsheimthin_oblique') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gt_walsheimbold_oblique';
    src: url('/fonts/gt-walsheim-bold-oblique-webfont.eot');
    src: url('/fonts/gt-walsheim-bold-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gt-walsheim-bold-oblique-webfont.woff2') format('woff2'),
         url('/fonts/gt-walsheim-bold-oblique-webfont.woff') format('woff'),
         url('/fonts/gt-walsheim-bold-oblique-webfont.ttf') format('truetype'),
         url('/fonts/gt-walsheim-bold-oblique-webfont.svg#gt_walsheimbold_oblique') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gt_walsheimbold';
    src: url('/fonts/gt-walsheim-bold-webfont.eot');
    src: url('/fonts/gt-walsheim-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gt-walsheim-bold-webfont.woff2') format('woff2'),
         url('/fonts/gt-walsheim-bold-webfont.woff') format('woff'),
         url('/fonts/gt-walsheim-bold-webfont.ttf') format('truetype'),
         url('/fonts/gt-walsheim-bold-webfont.svg#gt_walsheimbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'gt_walsheimthin';
}
h1 {
    font-family: 'gt_walsheimbold';
    font-size: 24px;
    line-height: 29px;  
    color: #FFF;
}
/* Main header thin */
h2 {
    font-family: 'gt_walsheimbold';
    font-size: 24px;
    line-height: 29px;  
} 
a, a:link {
	cursor: pointer;
}

body {
	background: #4696ff;
}

table {
	tfoot, tbody {
		th {
			border-top: 1px solid #DDD;
		}
	}
}
.container {
    margin: 0;
    width: 100%;
}
.heading {
    padding: 40px 50px;
}
i {
    color: #FFF;
    padding-left: 10px;
}
.weather-icons img {
    text-align: right;
}

/* Main header bold */
h1 {
    font-family: 'gt_walsheimbold';
    font-size: 58px;
    line-height: 60px;
    margin-top: 15px;
    margin-bottom: 40px;
}
/* Main header thin */
h2 {
    font-family: 'gt_walsheimthin';
    font-size: 58px;
    line-height: 60px;
    margin-top: 15px;
    margin-bottom: 40px;

} 
/* Dates bold */
h3 { 
    font-family: 'gt_walsheimbold';
    font-size: 36px;
    line-height: 40px;  
}
/* Dates thin, highlighted section text */
h4 { 
    font-family: 'gt_walsheimthin';
    font-size: 36px;
    line-height: 40px;  
}
/* Participants names, section descriptions */
h5 { 
    font-family: 'gt_walsheimbold';
    font-size: 24px;
    line-height: 29px;  
}
/* Participants content thin */
h6 { 
    font-family: 'gt_walsheimthin';
    font-size: 24px;
    line-height: 29px;  
}
/*******************
PLAYER VISUALISAION
*******************/

#player {
    text-align: center;
    color: #FFF !important;
}

#player .container {
    width: 80%;
    display: block;
    margin: 0 auto;
}

#player .row {
    margin-bottom: 100px;
}

#player .container svg {
    width: 100%;
    display: block;
    margin: 0 auto;
}

#videoText {
    display: block;
    text-align: center;
    vertical-align: middle;
}

#player .countdown {
    /* H2 style */
    font-family: 'gt_walsheimthin';
    font-size: 58px;
    line-height: 60px;
    margin-top: 15px;
    margin-bottom: 40px;
    color: #FFF !important;
}

#player .status {
    /* H2 style */
    font-family: 'gt_walsheimbold';
    font-size: 14px;
    line-height: 18px;
    margin-top: 15px;
    margin-bottom: 40px;
    color: #FFF !important;
}
#player .name {
    font-family: 'gt_walsheimbold';
    font-size: 24px;
    line-height: 29px;  
}
#player .title {
    font-family: 'gt_walsheimthin';
    font-size: 24px;
    line-height: 29px;  
}

#videoPlayer {
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

#radioPlayer {
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

/*******************
WEATHER ICONS
*******************/

.weather-icons {
    text-align: center !important;
}
.weather-icons img {
    cursor: pointer;
    display: inline;
    height: 20px;
    width: 30px;
    margin: 5px;
}
.weather-icons div {
    display: inline !important;
}
#text-weather {
    display: block !important;
    color: #FFF;
    margin-top: 12px !important;
    min-height: 50px;
}

/******************
FOOTER
******************/

footer div.mythemes-social a:hover:before, footer div.mythemes-social a:before {
    background: transparent !important;
    color: #FFF !important;
}
.mythemes-social {
    display: block !important;
    margin-top: 25px !important;
}
.footer-logo {
    max-width: 338px;
    margin-bottom: 100px;
    display: block;
}
footer {
    background: #000;
    padding: 40px 50px !important;
}

.social-icons {
    padding-left: 10px;
    margin-top: 25px;
}

