/****************
TYPOGRAPHY
****************/

@font-face {
    font-family: 'gt_walsheimthin';
    src: url('/fonts/gt-walsheim-thin-webfont.eot');
    src: url('/fonts/gt-walsheim-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gt-walsheim-thin-webfont.woff2') format('woff2'),
         url('/fonts/gt-walsheim-thin-webfont.woff') format('woff'),
         url('/fonts/gt-walsheim-thin-webfont.ttf') format('truetype'),
         url('/fonts/gt-walsheim-thin-webfont.svg#gt_walsheimthin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gt_walsheimthin_oblique';
    src: url('/fonts/gt-walsheim-thin-oblique-webfont.eot');
    src: url('/fonts/gt-walsheim-thin-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gt-walsheim-thin-oblique-webfont.woff2') format('woff2'),
         url('/fonts/gt-walsheim-thin-oblique-webfont.woff') format('woff'),
         url('/fonts/gt-walsheim-thin-oblique-webfont.ttf') format('truetype'),
         url('/fonts/gt-walsheim-thin-oblique-webfont.svg#gt_walsheimthin_oblique') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gt_walsheimbold_oblique';
    src: url('/fonts/gt-walsheim-bold-oblique-webfont.eot');
    src: url('/fonts/gt-walsheim-bold-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gt-walsheim-bold-oblique-webfont.woff2') format('woff2'),
         url('/fonts/gt-walsheim-bold-oblique-webfont.woff') format('woff'),
         url('/fonts/gt-walsheim-bold-oblique-webfont.ttf') format('truetype'),
         url('/fonts/gt-walsheim-bold-oblique-webfont.svg#gt_walsheimbold_oblique') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gt_walsheimbold';
    src: url('/fonts/gt-walsheim-bold-webfont.eot');
    src: url('/fonts/gt-walsheim-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gt-walsheim-bold-webfont.woff2') format('woff2'),
         url('/fonts/gt-walsheim-bold-webfont.woff') format('woff'),
         url('/fonts/gt-walsheim-bold-webfont.ttf') format('truetype'),
         url('/fonts/gt-walsheim-bold-webfont.svg#gt_walsheimbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1 {
    font-family: 'gt_walsheimbold';
    font-size: 24px;
    line-height: 29px;  
    color: #FFF;
}
/* Main header thin */
h2 {
    font-family: 'gt_walsheimbold';
    font-size: 24px;
    line-height: 29px;  
} 
a, a:link {
	cursor: pointer;
}

body {
	background: #4696ff;
}

table {
	tfoot, tbody {
		th {
			border-top: 1px solid #DDD;
		}
	}
}
.container {
	padding: 40vh;
	text-align: center;
	img {
		max-width: 90%;
	}
}